form {
  background-color: #222;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
}

input,
textarea {
  background-color: #121212;
  border: 1.8px solid #444;
  border-radius: 8px;
  color: #ddd;
}

input:focus,
textarea:focus {
  border-color: #80c0ff;
  outline: none;
}
